@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

p {
  margin-bottom: 0px;
}

body {
  max-width: 100%;
}

.menu {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.depNome {
  font-size: 20px;
  font-weight: bolder;
}

.depNome a {
  text-decoration: none;
  color: inherit;
}

.depPartido {
  font-size: 20px;
  font-weight: bolder;
}

.depFoto {
  width: 170px;
  height: auto;
  border-radius: 10px;
  margin-right: 20px;
}

.depEstado {
  font-weight: bolder;
}

.info {
  display: flex;
  flex-direction: column;
}

.deputados {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 40px;
}

#deputado {
  background-color: #9f7159;
  display: flex;
  width: 30em;
  padding: 10px 40px;
  border-radius: 10px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

#deputado h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0px;
}

#deputado h1 {
  font-size: 25px;
  font-weight: 900;
}

.card {
    min-width: 20em;
    max-width: 20em !important;
    margin-bottom: 20px;
}

.card-image:first-child img {
  max-height: 20em;
}

#partido {
  font-size: 25px;
  font-weight: 900;
}

.depnav {
  height: 100px;
  padding: 0px 100px;
}

.logo {
  color: #fff !important;
}

.footer {
  background-color: black !important;
 }

.center-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer-img {
  margin-right: 11px;
}

.footer-img:last-of-type {
  margin-right: 0px;
}

.custom-shape-divider-top-1658536356 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  margin-top: 100px;
}

.custom-shape-divider-top-1658536356 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 165px;
}

.custom-shape-divider-top-1658536356 .shape-fill {
  fill: #485FC7;
}

.is-big {
  font-size: 1.5rem;
}

@media screen and (max-width: 600px) {
  
  .menu {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .is-big {
    font-size: 1rem !important;
  }

  .depnav {
    height: 100px;
    padding: 0px 0px;
  }

  .custom-shape-divider-top-1658536356 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    margin-top: 98px;
  }

  .custom-shape-divider-top-1658536356 svg {
    position: relative;
    display: block;
    width: calc(200% + 1.3px);
    height: 165px;
  }

  .deputados {
    padding: 20px 0px;
    justify-content: none;
    justify-items: center;
  }

  .card {
    min-width: 90%;
    max-width: 90% !important;
    margin-bottom: 50px !important;
    margin: 0 auto;
  }

  .card-image:first-child img {
    max-height: 20em;
  }
}

.copy {
  text-decoration: whitesmoke;
  font-size: 15px;
  font-weight: bold;
}

.foot {
  text-decoration: white;
  font-size: 25px;
  font-weight: bold;
}